/* 
    Created on : Feb 9, 2020, 6:29:00 PM
    Author     : Kahlie
*/

.root{
    -fx-font-size: 11px;
    -fx-background-color: linear-gradient(from 25% 25% to 100% 100%, #5C258D, #4389A2);
    -fx-text-fill: #FFFFFF;
}

.fieldPageTitle {
    -fx-font-style: normal;
    -fx-font-weight: bold;
    -fx-font-family: System;
    -fx-font-size: 18px;
    -fx-text-fill: #FFFFFF;
}

.button {
    
}

.titleHomePage {
    
}