.paneHome {
    -fx-background-color : white;
}

AnchorPane, ScrollPane, FlowPane, .paneLeft{
    -fx-background-color: linear-gradient(from 25% 25% to 100% 100%, #5C258D, #4389A2);
    -fx-background: linear-gradient(from 25% 25% to 100% 100%, #5C258D, #4389A2);
    -fx-border-width: 0px;
}

ScrollPane .scroll-bar:vertical{
    -fx-background-color: #292727;
}

ScrollPane .increment-button, ScrollPane .decrement-button{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 2em;
}

ScrollPane .increment-button:hover, ScrollPane .decrement-button:hover{
    -fx-background-color: white;
    -fx-border-color: transparent;
}

ScrollPane .scroll-bar:vertical .thumb {
    -fx-background-color: #1d1d1d;
    -fx-background-radius: 2em;
}

ScrollPane .scroll-bar:vertical .track{
    -fx-background-radius: 2em;
    -fx-border-radius: 2em;
}

ScrollPane .scroll-bar:vertical .thumb:hover{
    -fx-background-color: white;
}

ProgressBar .track{
    -fx-background-radius: 2em;
    -fx-border-radius: 2em;
    -fx-border-color: white;
    -fx-background-color: #403F3F;
}

ProgressBar .bar{
    -fx-background-color: white;
    -fx-background-radius: 2em;
    -fx-border-radius: 2em;
}

ToolBar{
    -fx-background-color: #1d1d1d;
    -fx-background-radius: 2em;
    -fx-border-color: transparent transparent #403F3F transparent;
}

MenuBar{
    -fx-background-color: #1d1d1d;
    -fx-background: #1d1d1d;
    -fx-border-color: transparent transparent #403F3F transparent;
    -fx-text-fill: white;
}

MenuBar .label, CheckBox{
    -fx-text-fill: white;
}

MenuBar .menu-item, MenuBar .context-menu{
     -fx-background-color: #1d1d1d;
}

MenuBar .menu-item:hover, MenuBar .context-menu:hover, MenuBar .menu:hover{
    -fx-background-color: #403F3F;
}

MenuBar .context-menu{
    -fx-border-color: #403F3F;
}

MenuBar .context-menu{
    -fx-padding: 0 0 0 0;
}

Button{
    -fx-background-radius: 2em;
    -fx-background-color: linear-gradient(from 25% 25% to 100% 100%, #5C258D, #4389A2);
    -fx-font-family: System Bold;
    -fx-text-fill: white;
}

TextField, PasswordField{
    -fx-background-color: white;
    -fx-background-radius: 2em;
    -fx-border-radius: 2em;
    -fx-text-fill: black;
    -fx-border-color: black;
}

ListView{
    -fx-background-color: #1d1d1d;
    -fx-control-inner-background: #1d1d1d;
}

Label{
    -fx-text-fill: white;
    -fx-font-size: 12pt;
}

Label.colHeader{
    -fx-text-fill: white;
    -fx-font-family: Verdana;
}

.headerLabel {
    -fx-font-family: System Bold;
    -fx-font-size: 30px;
    -fx-text-fill: #e5e4e4;
}

.titleLabel{
    -fx-font-family: Verdana;
}

.locationExplanation {
    -fx-font-size: 11px;
    -fx-text-wrap: true;
    -fx-text-fill: #e5e4e4;
}

.homePageLabel {
    -fx-text-fill: black;
    -fx-font-family: System Bold;
    -fx-font-size: 30px;
}

.subtitle{
    -fx-font-size: 8pt;
    -fx-font-family: Tahoma;
}

.posterPane:hover{
    -fx-scale-x: 1.2;
    -fx-scale-y: 1.2;
}

Label .errorLabel {
    -fx-text-fill:red;
    -fx-font-size: 11px;
}

Label .welcomeLabel {
    -fx-font-family: Corbel Bold Italic;
    -fx-font-size: 36px;
}